name: my-demo-app
on: [push]
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Set up Go 1.x
              uses: actions/setup-go@v2
              with:
                go-version: ^1.14
              
            - name: Check out code
              uses: actions/checkout@v2
            
            - name: Test
              run: |
                CGO_ENABLED=0 go test -v ./...

            - name: Build and push Docker image
              uses: docker/build-push-action@v1.1.0
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
                repository: ${{ secrets.DOCKER_USERNAME }}/my-demo-app
                tags: ${{ github.sha }}, latest
    
    deploy:
        name: Deploy
        runs-on: ubuntu-latest
        needs: build
            
        steps:
        - name: Check out code
          uses: actions/checkout@v2
          with:
            repository: syedmoosa/demo-kube-manifest
            token: ${{ secrets.PAT }} 
            path: demo-kube-manifest
        
        - name: Setup Kustomize
          uses: imranismail/setup-kustomize@v1
          with:
            kustomize-version: "3.8.5"
        
        - name: Update Kubernetes resources
          env:
            DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          run: |
             cd demo-kube-manifest/base
             kustomize edit set image my-demo-project=${{ secrets.DOCKER_USERNAME }}/my-demo-app:$GITHUB_SHA
             cat kustomization.yaml
        
        - name: Commit files
          run: |
            cd ..
            pwd
            git config user.email "bsyed6@github.com"
            git config user.name "syedmoosa"
            git commit -am "update docker tag"
        
        - name: Push changes
          uses: ad-m/github-push-action@master
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
              