name: my-demo-app
on: [push]
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Set up Go 1.x
              uses: actions/setup-go@v2
              with:
                go-version: ^1.14
              
            - name: Check out code
              uses: actions/checkout@v2
            
            - name: Test
              run: |
                CGO_ENABLED=0 go test -v ./...

            - name: Build and push Docker image
              uses: docker/build-push-action@v1.1.0
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
                repository: ${{ secrets.DOCKER_USERNAME }}/my-demo-app
                tags: ${{ github.sha }}, latest